// ==========================================================================
// Project Colors
// ==========================================================================

$brand-color-a: #000;
$brand-color-b: #000;
$brand-color-c: #000;

$headings-color: #000;
$text-color: #444;
