{
    "env": {
        "browser": true,
        "es6": true,
        "jquery": true
    },
    "globals": {
    },
    "extends": [
        "plugin:vue/essential"
    ],
    "rules": {
        "quotes": ["error", "single"]
    }
}
