{% set data = {
    body: '',
    size: 'base',
    attributes: {}
}|merge(_context) %}

{% set sizes = {
    sm: 'prose-sm',
    base: 'prose-base',
    lg: 'prose-lg',
} %}

<div {{ attr(data.attributes) }} class="prose {{ sizes[data.size] }}">
    {{ data.body|raw }}
</div>
