<div class="leading-normal flex justify-center items-center text-center p-6 w-screen h-screen">
    <div class="max-w-sm">
        <div class="bg-white rounded-lg py-8 px-6">
            <h1 class="font-semibold text-3xl">{{ heading }}</h1>
            <p class="my-6 text-gray-600">{{ body }}</p>
            <a href="{{ url() }}" class="text-blue-700">&larr; {{ 'Go home'|t }}</a>
        </div>
    </div>
</div>
