<footer role="contentinfo">
    <div class="container px-8">
        <p>&copy; {{ 'now'|date('Y') }} {{ siteName }}.</p>
        <nav aria-label="Footer navigation">
            <ul>
                <li><a href="{{ url('/') }}">Home</a></li>
            </ul>
        </nav>
    </div>
</footer>
