<footer role="contentinfo" class="py-6">
    <div class="container px-8 flex space-x-6">
        <p>&copy; {{ 'now'|date('Y') }} {{ siteName }}.</p>
        <nav aria-label="Footer navigation">
            <ul class="flex space-x-6">
                <li><a href="{{ url('/') }}">Home</a></li>
            </ul>
        </nav>
    </div>
</footer>
