<header role="banner">
    <div class="container px-8">
        <a href="{{ url('/') }}">{{ siteName }}</a>
        <nav aria-label="{{ 'Main navigation' }}">
            <ul>
                <li><a href="{{ url('') }}">Home</a></li>
            </ul>
        </nav>
    </div>
</header>
