{% extends '_layouts/master' %}

{% block criticalCss %}
    {{ source('_includes/critical-css/index_critical.min.css', true) }}
{% endblock %}

{% block content %}
    <example-component>
        <div class="leading-normal flex justify-center items-center text-center py-6 px-8 w-screen h-screen">
            <div class="max-w-sm">
                <div class="bg-white shadow rounded px-8 py-10">
                    <h1 class="m-0 leading-none">👋 Hello!</h1>
                    <p class="my-6">You've successfully started a new Craft CMS project!</p>
                    <a href="{{ url('cms') }}" class="inline-block no-underline bg-white hover:bg-grey-lightest text-grey-darkest font-semibold py-2 px-4 border border-grey-light rounded shadow">Log in to the CMS &rarr;</a>
                </div>
            </div>
        </div>
    </example-component>
{% endblock %}
