{% extends '_layouts/master' %}

{% block inlineCss %}
    <style>
        {{ source('_includes/critical-css/index_critical.min.css', true) }}
    </style>
{% endblock %}

{% block content %}
    <example-component>
        <div style="display: flex; justify-content: center; align-items: center; width: 100vw; height: 100vh; text-align: center;">
            <div style="max-width: 30rem;">
                <h1>👋 Hello!</h1>
                <p>You've successfully started a new Craft CMS project!</p>
                <p><a href="{{ url('cms') }}">Log in to the CMS &rarr;</a></p>
            </div>
        </div>
    </example-component>
{% endblock %}
