{% extends '_layouts/base' %}

{% block body %}
    <div id="main-content" class="flex flex-col h-screen bg-gray-100">
        {% include '_includes/organisms/header' %}
        {% block content '' %}
        {% include '_includes/organisms/footer' %}
    </div>
{% endblock %}
