{% extends '_layouts/base' %}

{% block body %}
    <div id="app">
        <!--[if lt IE 8]>
            <p class="fixed w-full p-2 bg-yellow text-center text-yellow-darker">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="text-yellow-darkest">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        {% include '_includes/organisms/header' %}
        {% include '_includes/organisms/navigation' %}
        {% block content '' %}
        {% include '_includes/organisms/footer' %}
    </div>
{% endblock %}
